<div class="container text-center">
    
    <h2 class="section-title text-center">Angular Admin Templates</h2>

    <div class="container text-center">

    <div class="row mt-5">

        <div class="col-md-6 col-lg-4  mb-4">
            <div class="card p-3 border-0 rounded-1 box-shadow">
              <div class="card-body p-0">
                <h3 class="f-20">Free Angular Admin Template</h3>
                <div class="f-18 text-muted mb-4">Default theme (light &amp; dark mode)</div>
                <a routerLink="/auth">
                <img loading="lazy" class="img-fluid box-shadow rounded-1" class="image" alt="Free Angular Admin Template" srcset="https://i.pinimg.com/originals/27/0e/e2/270ee205dec7500a344f5d6d860cb612.jpg"></a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4  mb-4">
            <div class="card p-3 border-0 rounded-1 box-shadow">
              <div class="card-body p-0">
                <h3 class="f-20">Free Angular Admin Template</h3>
                <div class="f-18 text-muted mb-4">Default theme (light &amp; dark mode)</div>
                <a routerLink="/auth">
                <img loading="lazy" class="img-fluid box-shadow rounded-1" class="image" alt="Free Angular Admin Template" srcset="https://i.pinimg.com/originals/e7/3b/fe/e73bfe186daae5049c25672fd5921460.jpg"></a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4  mb-4">
            <div class="card p-3 border-0 rounded-1 box-shadow">
              <div class="card-body p-0">
                <h3 class="f-20">Free Angular Admin Template</h3>
                <div class="f-18 text-muted mb-4">Default theme (light &amp; dark mode)</div>
                <a routerLink="/auth">
                <img loading="lazy" class="img-fluid box-shadow rounded-1" class="image" alt="Free Angular Admin Template" srcset="https://upload.wikimedia.org/wikipedia/commons/7/72/Schnitzel.JPG"></a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4  mb-4">
            <div class="card p-3 border-0 rounded-1 box-shadow">
              <div class="card-body p-0">
                <h3 class="f-20">Free Angular Admin Template</h3>
                <div class="f-18 text-muted mb-4">Default theme (light &amp; dark mode)</div>
                <a routerLink="/auth">
                <img loading="lazy" class="img-fluid box-shadow rounded-1" class="image" alt="Free Angular Admin Template" srcset="https://i.pinimg.com/originals/09/a5/9f/09a59f80dc2f2ae9c60ac861a03c60d1.jpg"></a></div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4  mb-4">
            <div class="card p-3 border-0 rounded-1 box-shadow">
              <div class="card-body p-0">
                <h3 class="f-20">Free Angular Admin Template</h3>
                <div class="f-18 text-muted mb-4">Default theme (light &amp; dark mode)</div>
                <a routerLink="/auth">
                <img loading="lazy" class="img-fluid box-shadow rounded-1" class="image" alt="Free Angular Admin Template" srcset="https://i.pinimg.com/originals/7e/a4/25/7ea4256bdd570bf8db5bd2f0ffe170a1.jpg"></a></div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4  mb-4">
          <div class="card p-3 border-0 rounded-1 box-shadow">
            <div class="card-body p-0">
              <h3 class="f-20">Pizza bianca </h3>
              <div class="f-18 text-muted mb-4">Default theme (light &amp; dark mode)</div>
              <a routerLink="/auth">
              <img loading="lazy" class="img-fluid box-shadow rounded-1" class="image" alt="Free Angular Admin Template" srcset="https://i.pinimg.com/originals/54/bf/f9/54bff9dc32aded6e0ec683b753a5922e.jpg"></a></div>
          </div>
      </div>
        
        
    </div>

   </div>
   



 

</div>
