.success{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: larger;
    padding:2px;
    background-color: cornflowerblue;
    text-align: center;
  
}