
<div class="container">
<div class="row">
    <div class="col-xs-12">
        <ol>
            <li>Create new component (manually or with CLI): contact and success</li>
            <li>Outout the beneath each other in the AppComponent</li>
            <li>Style the component appropriately (Maybe Green color text)</li>
        </ol>
        <h3>I'am in the AppComponent!</h3>
        <p>Feel free to create component and play around</p>
        <hr>
        <app-success></app-success>
        <app-contact></app-contact>
    </div>
</div>


</div>


